*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    background: #fff;
    text-decoration: none;
    list-style: none;
}
h1{
    text-align: center;
    margin: 25px 0 25px 0;
}
.form{
    display: flex;
    justify-content: center;
    justify-items: center;
    background: #272727;
    width: 50%;
    margin: 0 auto;
    border-radius: 15px;
    padding: 25px 0 25px 0;
    color: #fff;
}
input{
    margin-bottom: 15px;
}
.btn{
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    color: #272727;
}
/*----------Validaciones----------*/
input:focus:invalid ~ .msj::before{
    padding: 4px;
    border-radius: 4px;
    color: #525252;
    margin: 30px 0 10px 0;
}
input[type="text"]:focus:invalid ~ .msj::after{
    content: 'Ingrese sólo texto';
}
input[type="date"]:focus:invalid ~ .msj::after{
    content: 'Ingrese la fecha de nacimiento';
}
input[type="email"]:focus:invalid ~ .msj::after{
    content: 'Ingrese un correo válido';
}
input[type="number"]:focus:invalid ~ .msj::after{
    content: 'Ingrese su DUI sin guión';
}
